{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}
{% block page_title %}{{ category.name }}{% endblock %}

{% block content %}
    <div class="row">
        {% for post in category.posts %}
            {% include 'partials/_post.html.twig' %}
        {% endfor %}
    </div> <!-- /.row -->
{% endblock %}

